<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1 class="home-heading"> Welcome to the Expense Tracker App </h1>
        <div class="card-items">
            <img src="https://www.pushengage.com/wp-content/uploads/2022/02/Best-Website-Welcome-Message-Examples.png" alt="Welcoming image">
        </div>
        <div class="card-items">
            <p class="card-description"> Welcome to our expense tracker website, your easy-to-use tool for managing your money. Whether you're keeping an eye on daily expenses, planning for the future, or just wanting to understand your spending better, we're here to help. Our website combines simple design with powerful features, making it easy for you to track, analyze, and improve your finances. Let us help you take control of your money, make smart choices, and reach your financial goals. Welcome to a simpler path to financial freedom. </p>
        </div>
    </main>
<%- include('../includes/end.ejs') %>